{% extends 'base.html.twig' %}

{% block title %}Añadir Transacción{% endblock %}

{% block body %}

    <header>
        <div class="header">
            <div class="top">
                <img class="logo" src="/images/logoCC.png" alt="CoinControl">
                <a href="/cliente"><img class="arrow" src="/images/left-arrow.png" alt=""></a>
            </div>
        </div>
    </header>

    <body>
        <main>
            <div class="general-transaction">
                <h1 class="h1-client">Registro de transacciones</h1>
                <div class="transaction-body">
                    <h2>Titulo o nombre</h2>
                    <input type="text">
                    <h2>Fecha y hora</h2>
                    <input type="datetime-local">
                    <h2>Categorias</h2>
                    <select class="select-categories">
                        <option value="HTML">Categorias</option>
                        <option value="HTML">Servicios</option>
                        <option value="HTML">Compras</option>
                        <option value="HTML">Entrenimiento</option>
                        <option value="HTML">Otro</option>
                    </select>
                    {# <input type="text"> #}
                    <h2>Comentario (Opcional)</h2>
                    <input type="text">
                    <a href="/cliente"><button class="button-login">Confirmar</button></a>
                </div>
            </div>
        </main>
        <footer>
            <div class="copyright">
                <span>Copyright 2024 CoinControl. Todos los derechos reservados.</span>
            </div>
        </footer>
    </body>


{% endblock %}
