{% extends 'base.html.twig' %}

{% block title %}Añadir Transacción{% endblock %}

{% block body %}

    <header>
        <div class="header">
            <div class="top">
                <img class="logo" src="/images/logoCC.png" alt="CoinControl">
                <a href="/cliente"><img class="arrow" src="/images/left-arrow.png" alt="a"></a>
            </div>
        </div>
    </header>

    <body>
        <main>
            <div class="general-transaction">
                <h1 class="h1-client">Registro de transacciones</h1>
                
                    <form action="{{ path('agregar_trans') }}" method="post">
                        <div class="transaction-body">
                        <h2>Titulo o nombre</h2>
                        <input type="text" name="nombre">
                        <h2>Fecha y hora</h2>
                        <input type="datetime-local" name="fecha">
                        <h2>Categorias</h2>
                        <select class="select-categories" name="tipo_categorias">
                            <option value="">Categorias</option>
                            <option value="1">Servicios</option>
                            <option value="2">Compras</option>
                            <option value="3">Entrenimiento</option>
                            <option value="4">Otro</option>
                        </select>
                        <h2 class="value-monto">Monto</h2>
                        <div class="monto"><input type="number" name="monto"></div>
                        <h2>Comentario (Opcional)</h2>
                        <input type="text" name="comentario">
                        <button type="submit" class="button-login">Confirmar</button>
                        
                        {% for message in app.flashes('error1') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% for message in app.flashes('exito1') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <div class="copyright">
                <span>Copyright 2024 CoinControl. Todos los derechos reservados.</span>
            </div>
        </footer>
    </body>

{% endblock %}
