{% extends 'base.html.twig' %}

{% block title %}Resumen Financiero{% endblock %}

{% block body %}
    <header>
        <div class="header">
            <div class="top">

                <img class="logo" src="/images/logoCC.png" alt="CoinControl">
                {% if app.user %}
                            <div class="mb-3"><a href="{{ path('app_logout') }}" class="button">Cerrar sesión</a></div>
                {% endif %}
                
            </div>
        </div>
    </header>
    <body>
        <main>
            <h1 class="h1-client">Resumen Financiero</h1>
            <div class="general-client">
                <div class="client-left">
                    <div class="client-summary">
                        <h1>Tu Saldo</h1>
                        <p class="client-salary">$ {{ saldo }} </p>
                    </div>
                    
                    <div class="lists">
                        <h2>Últimos Movimientos</h2>
                        <div class="lists-lr">
                            <div class="lists-descriptions">
                                <ul>
                                    {% for transaccion in transacciones %}
                                    
                                    <li>{{transaccion.nombre}} </li>
                                    
                                    {% endfor %}
                                </ul>
                            </div>
                            
                            <div class="list-mounts">
                                <ul>
                                    {% for transaccion in transacciones %}
                                    
                                    <li>${{transaccion.monto}} </li>
                                    
                                    {% endfor %}
                                </ul>   
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="client-right">
                    <div class="client-buttons">
                        <a href="/transaccion"><button class="client-transfer">Añadir Transferencia</button></a>
                        <a href="/analisis"><button class="client-data">Ver análisis de gastos</button></a>
                    </div>
                </div>
            </div>
            
        </main>


        <footer>
            <div class="copyright">
                <span>Copyright 2024 CoinControl. Todos los derechos reservados.</span>
            </div>
        </footer>
    </body>
    
{% endblock %}
