@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f7f5;
}

button, input{
    font-family: "Nunito", sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 36px 20px -45px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 36px 20px -45px rgba(0,0,0,0.30);
    box-shadow: 0px 36px 20px -45px rgba(0,0,0,0.30); 
    background-color: white;
    

}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    padding: 1rem;
    padding-bottom: 1.5rem;
}
.logo{
    width: 20vw;
}

.arrow{
    width: 4vw;
}


.button{
    background-color: #F4D121;
    padding: 1rem;
    border-radius: 0.7rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    box-shadow: 2px 4px 10px #252525;
    border-style: none;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
}



.center{
padding-top: 2rem;
padding: 1.5rem;
padding-right: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.center-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 25px;
    width: 90vw;
    text-align: justify;
}

.center-text1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 35px;
    width: 90vw;
    text-align: justify;
    margin-top: 5rem;
    color: #182f95;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: auto; 
    font-size: 0.8rem;
}

/* REGISTRO */

.general-login{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    padding-top: 5rem; 
}

.login-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.register-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.input-login{
    border: none;
    border-bottom: 0.1rem solid;
}

.button-login{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.h1-login{
    color: #253060;
}

/* CLIENTE */

.h1-client{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.general-client{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    padding-top: 5rem; 
}

.client-left{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    border-radius: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: white;
}

.client-summary{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.client-salary{
    background-color: #F4D121;
    border-radius: 5rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
}

.lists{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.lists-lr{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.lists-desciptions{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.list-mounts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-mounts li{
    list-style: none;
}

.client-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    border-radius: 1.5rem;
}

.client-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.client-transfer{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    background-color: #12236c;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.client-data{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}


/* Transacciones*/


.general-transaction{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
}

.transaction-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 1.5rem;
    background-color: white;
    border: 0;
    
}

.transaction-body h2{
    padding-bottom: 0.5rem;
}

.transaction-body input{
    margin-bottom: 1.2rem;
    border: none;
    border-bottom: 0.1rem solid;
    
}

/* Analisis de datos*/

.general-analisis{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
}

.body-analisis{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: white;
}

.analisis-data{
    background-color: #F4D121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem 0;
    list-style: none;
}

.analisis-data li{
    font-size: 25px;
    font-weight: bold;
}
    
.login-title{
    display: none;
}

.account-register{
    font-family: "Nunito", sans-serif;
}

.monto::before{
    content: "$";
}

.value-monto{
    margin-top: 0.8rem;
}
