{% extends 'base.html.twig' %}

{% block title %}CoinControl{% endblock %}

{% block body %}

<header>
    <div class="header">
        <div class="top">
            <img class="logo" src="/images/logoCC.png" alt="CoinControl">
            <a href="/login"><button class="button">Ingresar</button></a>
        </div>
    </div>
</header>

<main class="center">
        <div class="center-text">
            <p>Bienvenido a nuestra aplicación web diseñada para ayudarte a administrar tus finanzas personales de manera efectiva. En un mundo donde el control financiero es fundamental, nuestra plataforma te ofrece la solución que necesitas para organizar tus ingresos, gastos, ahorros e inversiones de forma conveniente y segura.
            Imagina un lugar donde puedas tener una visión clara de tu situación financiera en todo momento, donde puedas tomar decisiones informadas y planificar tu futuro económico con confianza. Nuestra aplicación no solo simplifica la gestión de tus finanzas, sino que también te brinda herramientas poderosas para optimizar tus recursos y alcanzar tus metas financieras.
            Con nuestra interfaz intuitiva y segura, podrás registrar tus transacciones, establecer presupuestos personalizados, realizar un seguimiento de tus gastos, identificar áreas de oportunidad para el ahorro y explorar opciones de inversión que se adapten a tus objetivos.
            Entra en el camino hacia una mayor estabilidad financiera y libertad económica. Únete a nuestra comunidad de usuarios comprometidos con el éxito financiero personal y descubre cómo nuestra aplicación puede transformar tu manera de gestionar el dinero.
            </p>
        </div>
        <div class="center-text1">
            <p>¡Comienza hoy mismo y toma el control de tus finanzas con nosotros!</p>
        </div>
</main>

<footer>
    <div class="copyright">
        <span>Copyright 2024 CoinControl. Todos los derechos reservados.</span>
    </div>
</footer>

{% endblock %}
