{% extends 'base.html.twig' %}
{% block title %}Ingreso de Datos{% endblock %}

{% block body %}

    <header>
        <div class="header">
            <div class="top">
                <img class="logo" src="/images/logoCC.png" alt="CoinControl">
                <a href="/principal"><img class="arrow" src="/images/left-arrow.png" alt="no anda boludo"></a>
                
            </div>
        </div>
    </header>

    <body>

        <main>
            <div class="general-login">
                <div class="login-login">
                    <h1 class="h1-login">¿Tenés una cuenta?</h1>
                    <input type="text" name="user" placeholder="Ingresá tu usuario" class="input-login">
                    <input type="password" name="pass" maxlength="8" placeholder="Ingresá tu contraseña" class="input-login">
                    <a href="/cliente"><button  class="button-login">Ingresar</button></a>
                </div>
                <div class="register-login">
                    <h1 class="h1-login">Creá tu cuenta</h1>
                    <form method="post" action="{{ path('registro_u') }}">
                        <h2>Datos Personales</h2>
                        <input name="nombre" type="text" placeholder="Tu nombre" class="input-login">
                        <input name="apellido" type="text" placeholder="Tu apellido" class="input-login">
                        <input name="mail" type="text" placeholder="Tu E-mail" class="input-login">
                        <input name="dni" type="number" placeholder="Tu DNI"class="input-login">
                        <h2>Datos de Acceso</h2>
                        <input name="user" type="text" placeholder="Nombre de usuario"  class="input-login">
                        <input name="pass" type="password" maxlength="8" placeholder="Contraseña" class="input-login">
                        <a href="/registro"><button class="button-login">Crear cuenta</button></a>
                    </form>
                </div>
            </div>
        </main>

        <footer>
            <div class="copyright">
                <span>Copyright 2024 CoinControl. Todos los derechos reservados.</span>
            </div>
        </footer>
        
    </body>

{% endblock %}