{% extends 'base.html.twig' %}
{% block title %}Ingreso de Datos{% endblock %}

{% block body %}

    <header>
        <div class="header">
            <div class="top">
                <img class="logo" src="/images/logoCC.png" alt="CoinControl">
                <a href="/principal"><button class="button">Volver</button></a>
            </div>
        </div>
    </header>

    <body>
        
    </body>

{% endblock %}