{% extends 'base.html.twig' %}

{% block title %}Hello ResumenController!{% endblock %}

{% block body %}
    <header>
        <div class="header">
            <div class="top">
                <img class="logo" src="/images/logoCC.png" alt="CoinControl">
                <a href="/principal"><button class="button">Cerrar sesión</button></a>
            </div>
        </div>
    </header>
    <body>



        <footer>
            <div class="copyright">
                <span>Copyright 2024 CoinControl. Todos los derechos reservados.</span>
            </div>
        </footer>
    </body>
    
{% endblock %}
