{% extends 'base.html.twig' %}

{% block title %}Hello AnalisisController!{% endblock %}

{% block body %}
    <header>
        <div class="header">
            <div class="top">
                <img class="logo" src="/images/logoCC.png" alt="CoinControl">
                <a href="/cliente"><img class="arrow" src="/images/left-arrow.png" alt="no anda boludo"></a>
                
            </div>
        </div>
    </header>

    <body>
        <main>
            <div class="general-analisis">
                <h1 class="h1-client">Análisis de gastos</h1>
                <div class="body-analisis">
                    <h2>Servicios</h2>
                    <p>$20000</p>
                    <h2>Compras</h2>
                    <p>$16000</p>
                    <h2>Entretenimiento</h2>
                    <p>$6000</p>
                    <h2>Otros</h2>
                    <p>$2500</p>
                </div>
            </div>
        </main>
        <footer>
            <div class="copyright">
                <span>Copyright 2024 CoinControl. Todos los derechos reservados.</span>
            </div>
        </footer>
    </body>
{% endblock %}
