<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CoinControl{% endblock %}</title>
        <link rel="icon" href="{{asset('/images/favicon.png')}}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/styles.css')}}">
        {% endblock %}

        {% block javascripts %}
        
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
